@use '../../variables'as v;

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: v.$lightGrayishCyan;
}