@use '../../variables'as v;

.counters {
    display: grid;

    grid: {
        template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 20px;
    }


    &__counter {
        color: v.$strongCyan;
        font-size: 2.5em;
        font-weight: 700;
        text-align: right;

        &::before {
            content: '$';
        }

    }

    &__label {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}